body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}





body {
	color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.4;
    
    margin: 0;
}


#title{
    vertical-align: middle;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  text-align: center;
  position: relative;
    left: -100px;
    

}

p{
	text-align: center;
  position: relative;
    left: -100px;
}

#survey-form {
  font-size: 15px;
    background: rgba(27, 27, 50, 0.8);
			overflow: hidden;
     margin-left: 25%;
    margin-right:25%;
    width: 720px%;
  height: 1425px;
  display: inline-block;
    float: center;
    text-align: left;
  border-style: double;
  padding: 40px;
  
}



#name{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
	
	
	#email{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}


	#number{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}

textarea{
  height: 120px;
  width: 632px;
  border: 10px;
  display: block;
}




#submit{
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: #37af65;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

#improvement{
  display: block;
  text-align: left;
  font-size: 16px;
  
  
}

#dropdown{
      display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


#dropdown{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}